<% events.each do |f| %>
<div class="card">
  <div class="card-body">
    <h3 class="d-inline p-2"><%= f.event.title %></h3>
    <p><small class="text-muted"><%= time_tag(f.event.created_at) %></small></p>
    <div class="d-flex mt-2">
      <p class="mr-auto"><%= f.event.info %></p>
      <%= link_to "See Detail", event_path(f.event), class: "btn btn-primary" %>
    </div>
  </div>
</div>
<% end %>