<% if favorited?(object, current_user) %>
  <div id="fav-<%= object.id %>" class="d-inline">
    <%= link_to icon('far', 'heart'), unfavorite_event_path(object),remote: true, method: :post, class: "text-danger btn btn-default" %>
  </div>              
<% else %>
  <div id="fav-<%= object.id %>" class="d-inline">
    <%= link_to icon('far', 'heart'), favorite_event_path(object),remote: true, method: :post, class: "text-danger btn btn-default" %>
  </div> 
<% end %>