* {
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    body { padding-top: 50px; }
}

.index-img {
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/uploads/14128324071271c853818/3765c625?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fb9fdc80e4e0172a831d11c76aa1782a&auto=format&fit=crop&w=2851&q=80);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.devise-frame{
  margin: 10px 0 0 50px;
}

.fab {
  position: relative;
  right: 20px;
  top: 5px;
}

.fb-login-button{
  background: #4267b2;
  border-radius: 5px;
  color: white;
  height: 40px;
  text-align: center;
  width: 250px;
}

.google-login-button{
  position: relative;
  background: #4885ed;
  border-radius: 5px;
  color: white;
  height: 40px;
  text-align: center;
  width: 250px;
}

.google_icon{
  position: relative;
  bottom: 5px;
  right: 30px;
}

.user-avatar{
  width: 250px;
  height: 250px;
  margin: 10px;
}

/*=============schedule search==============*/
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input span{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 5px 8px 0 5px;
    cursor: pointer;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

.place-input {
    margin: 20px 0 20px 0
}

#map {
    width:100%;
    height:400px;
}
#spot-pic{
   height: 200px;
   max-width: 100%;
}
#small-pic{
   height: 50px;
   max-width: 100%;
}

#hidden-btn{
   background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
